@use "../../styles/variables";
@use "../../styles/mixins";
@use "../../styles/functions";
@use "../../styles/breakpoints";

.project {
    @include mixins.flex(column, flex-start, stretch);
    @include mixins.transition;
    position: relative;
    border: 1px solid variables.$chocolate;

    &>img {
        aspect-ratio: 1;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: fit-content !important;
    }

    &>div {
        @include mixins.flex(column, flex-start, flex-start);
        @include mixins.transition;
        width: 100%;
        background: variables.$gradient;
        gap: functions.pixelsToRem(15);
        padding: functions.pixelsToRem(30);
        flex: 1;
        border-top: 1px solid variables.$chocolate;

        &>div {
            @include mixins.flex(column, space-between, flex-start);
            gap: functions.pixelsToRem(15);

            &>h3 {
                font-family: variables.$display;
                font-size: functions.pixelsToRem(30);
                text-wrap: balance;
                line-height: 140%;

                @include breakpoints.tablet {
                    font-size: functions.pixelsToRem(25);
                }
            }

            &>p[id="tagline"] {
                font-size: functions.pixelsToRem(variables.$body);

                @include breakpoints.tablet {
                    font-size: functions.pixelsToRem(15);
                }
            }

            &>div[id="tags"] {
                @include mixins.flex(row, flex-start, center);
                flex-wrap: wrap;
                gap: functions.pixelsToRem(10);

                &>p {
                    font-size: functions.pixelsToRem(variables.$body);
                    line-height: 150%;
                    max-width: 34ch;
                    padding: functions.pixelsToRem(12) functions.pixelsToRem(20) functions.pixelsToRem(10);
                    border: 1px solid variables.$chocolate;
                    border-radius: 500px;

                    @include breakpoints.tablet {
                        font-size: functions.pixelsToRem(15);
                        padding: functions.pixelsToRem(8) functions.pixelsToRem(15) functions.pixelsToRem(6);
                    }
                }
            }
        }

        @include breakpoints.hoverable {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            opacity: 0;
            border-top: none;
        }
    }

    &:hover>div,
    &:focus-visible>div {
        opacity: 1;
    }
}